<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .card {
            width: 30%;
            height: 25vh;
            border: 1px solid grey;
            margin: 20vh auto;
        }
    </style>
</head>

<body>
    <a href="/view">Back</a>

    <div class="card">
        <h1>
            <%= student.userName %>
        </h1>
        <h1>
            <%= student.userEmail %>
        </h1>
        <h1>
            <%= student.userMobile %>
        </h1>


    </div>


</body>

</html>